/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}

.main-ctn{
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px ;
    width: 250px;
    box-shadow: 10px 5px 5px hsl(0, 0%, 7%);
    font-size: 0.7rem;
    cursor: pointer;
}
.text{
    text-align: left;
}
.illustration{
    border-radius: 10px;
    width: 100%;
}
button{
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 15px;
    font-size: 0.6rem;
}
h2{
    font-weight: 800;
}

.info{
    display: flex;
    gap: 15px;
    font-weight: 800;
}
.parag{
    color: hsl(0, 0%, 50%)
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.photo{
    width: 30px;
    height: 30px;
}

h2:hover{
color: hsl(47, 88%, 63%);
} */